@font-face {
    font-family: Norse;
    src: url(assets/font/Norsebold.otf);
}

body {
    margin: 0;
}

.container {
    display: flex;
    min-height: 100vh;
}

.left-content, .logo {
    display: flex; 
    justify-content: center;
    align-items: center;
}

.left-content {
    flex: 1;
    position: relative;

    background-image: url(assets/img/Placeholder/halie-west-25xggax4bSA-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.logo {
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 20%;
    font-family: Norse, sans-serif;
    color: white;
    margin-bottom: 200px;
}

.logo > p {
    font-size: 5em;
}

.logo > img {
    height: 8rem;
    width: auto;
}

.credit {
    position: absolute; 
    bottom: 0; 
    text-align: center; 
    color: white;
}

.right-content {
    flex: 1.5;
}